<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="container">
        <main id="app">
            <h2>{{title}}</h2>
            <form @submit.prevent="addTodo" autocomplete="off">
                <input v-model="newTodo" placeholder="Add a new task" type="text" name="newTodo" id="newTodo">
                <button class="add-bttn" type="submit" name="button">Add</button>
            </form>
            <ul class="todo-items">
                <li class="todo-item" v-for="item in todos">
                    <input class="checkbox" type="checkbox" v-model="item.done">
                    <span :class="{ done: item.done }">{{item.title}}</span>
                    <input class="delete-bttn" @click="deleteItem" type="submit" value="Delete">
                </li>
            </ul>
        </main>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>