<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>

<body>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--<h1>To Do List</h1>

    <div id="app">
        <input v-model="newItem">
        <button v-on:click="addItem">Add Item</button>
        <ul>
            <li v-for="item in todos">{{ item }}</li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                todos: ["Learn VueJS"]
            },
            methods: {
                addItem(e) {
                    this.todos.push(this.newItem)
                    e.preventDefault()
                }
            }
        })
    </script> -->

    <div id="app">
        <input id="input" type="text" v-model='newItem'>
        <button v-on:click="addItem">Add item</button>
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                items: [],
                newItem: ""
            },
            methods: {
                addItem() {
                    this.items.push(this.newItem)
                    this.newItem = '';
                }
            }
        })
    </script>
</body>

</html>